/*
    ----------------------------------------
    Author: Mase.sk
    Date: 28.11.2022
    Project name: IG 2022 Responsive Layout
    ----------------------------------------
*/

/* Default HTML things */

html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

/* Variables */

:root {

    /* UI - Make UI Consistent */
    --border-color: rgb(219, 219, 219);

    /* Body */
    --background-color: rgb(250, 250, 250);

    /* Sidebar Canvas */
    --sidebar-background: rgb(255, 255, 255);

    /* Main canvas */

}

/* End of Variables */

/* Body */

body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

/* End of Body */

/* Canvas */

.canvas {
    display: flex;
    width: 100%;
}

    /* Canvas -> Sidebar Canvas */

    .sidebar-canvas {
        padding: .4%;
        width: 16.65%;
        background-color: var(--sidebar-background);
        border-right: 1px solid var(--border-color);
    }

        /* Canvas -> Sidebar Canvas -> Logo */

        .sidebar-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 10%;
        }

        .sidebar-logo a {
            width: 100%;
            height: 100%;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .logo img {
            width: 100%;
        }

        /* Canvas -> Sidebar Canvas -> Sidebar Menu */

        .sidebar-menu {

            
        }

    /* Canvas -> Main Canvas */

    .main-canvas {

        width: 83.35%;
    }